/* colors 
white
#e5e5e5 
#fca311 yelloww
#14213d dark blue 
black
*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    font-weight: 600;
}

section {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fca311;
  pointer-events: none;
  animation: fadeout .5s linear forwards;
  animation-delay: 2.6s;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

/* .loader {
  height: 100%;
  background: linear-gradient(45deg, #fca311 0%, #14213d 40%, #000000 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -50%);
  font-size: 18vw;
  color: #e5e5e5;
  font-weight: 700;
  mix-blend-mode: difference;
  width: 550px;
} */

.bg-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(45deg, #fca311 0%, #14213d 40%, #000000 100%);
}

.box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid #e5e5e5;
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
  top: 80%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(3) {
  top: 18%;
  left: 70%;
  animation: animate 16s linear infinite;
}

.box div:nth-child(4) {
  top: 40%;
  left: 15%;
  animation: animate 12s linear infinite;
}

.box div:nth-child(5) {
  top: 90%;
  left: 9%;
  animation: animate 7s linear infinite;
}

.box div:nth-child(6) {
  top: 85%;
  left: 93%;
  animation: animate 11s linear infinite;
}

.box div:nth-child(7) {
  top: 67%;
  left: 24%;
  animation: animate 8s linear infinite;
}

.box div:nth-child(8) {
  top: 60%;
  left: 79%;
  animation: animate 13s linear infinite;
}

.box div:nth-child(9) {
  top: 35%;
  left: 92%;
  animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
  top: 5%;
  left: 5%;
  animation: animate 10s linear infinite;
}

.box div:nth-child(11) {
  top: 95%;
  left: 75%;
  animation: animate 9s linear infinite;
}

.box-shadow div {
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: transparent;
  border: 2px solid #b3abab;
}

.box-shadow div:nth-child(1) {
  top: 13%;
  left: 43%;
  animation: animate 10s linear infinite;
}

.box-shadow div:nth-child(2) {
  top: 81%;
  left: 51%;
  animation: animate 7s linear infinite;
}

.box-shadow div:nth-child(3) {
  top: 19%;
  left: 71%;
  animation: animate 16s linear infinite;
}

.box-shadow div:nth-child(4) {
  top: 41%;
  left: 16%;
  animation: animate 12s linear infinite;
}

.box-shadow div:nth-child(5) {
  top: 91%;
  left: 10%;
  animation: animate 7s linear infinite;
}

.box-shadow div:nth-child(6) {
  top: 86%;
  left: 94%;
  animation: animate 11s linear infinite;
}

.box-shadow div:nth-child(7) {
  top: 68%;
  left: 25%;
  animation: animate 8s linear infinite;
}

.box-shadow div:nth-child(8) {
  top: 61%;
  left: 80%;
  animation: animate 13s linear infinite;
}

.box-shadow div:nth-child(9) {
  top: 36%;
  left: 93%;
  animation: animate 9s linear infinite;
}

.box-shadow div:nth-child(10) {
  top: 6%;
  left: 6%;
  animation: animate 10s linear infinite;
}

.box-shadow div:nth-child(11) {
  top: 96%;
  left: 76%;
  animation: animate 9s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 15%;    
    color: #ffffff;
  .highlight {
    color: #fca311;
  }
  .button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
}


.btn{
    position: relative;
    display: block;
    color:  #fca311;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #fca311;
    padding: 14px 60px;
    text-transform: uppercase;
    transition: 1s all ease;
    font-weight: 700;
  }

  .btn::before{
    background: #fca311;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  .btn1::before{
    width: 0%;
    height: 100%;
  }
  
  .btn1:hover::before{
    width: 100%;
  }



@media (max-width: 700px) {
    .text {
        position: absolute;
        top: 35%;
        justify-content: center;
        font-size: 32px;
        margin: 2% auto;
    }
}

@media (max-width: 440px) {
  .text {
      position: absolute;
      top: 20%;
      justify-content: center;
      font-size: 30px;
      margin: 2% auto;
  }
}
