* {
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

//header, menu mobile

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #14213d;
    padding: 1.5% 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px groove #fca311;
    z-index: 997; //to let menu always up of any content
    a {
        text-decoration: none;
    }
    #logo a{
        font-family: 'Sarina', cursive;
        color: #fca311;
        font-size: 30px;
    }
    #menu-mobile {
        display: none;
    }
    .menu-mobile {
        width: 35px;
        height: 35px;
        background-color: transparent;
        border-radius: 5px;
        border: 0;
        position: relative;
        cursor: pointer;
        display: none;
    } 
    .menu-mobile::after {
        content: "";
        position: absolute;
        top: 30%;
        left: 15%;
        width: 70%;
        height: 10%;
        border-radius: 20px;
        background-color: #fca311;
        transition: 1s ease;
    }
    .menu-mobile::before {
        content: "";
        position: absolute;
        top: 60%;
        left: 45%;
        width: 40%;
        height: 10%;
        border-radius: 20px;
        background-color: #fca311;
        transition: 1s ease;
    }
    #menu-mobile:checked ~ label .menu-mobile:after {
        transform: rotate(225deg);
        top: 45%;
        left: 15%;
    }
    #menu-mobile:checked ~ label .menu-mobile::before {
        transform: rotate(-225deg);
        top: 45%;
        left: 15%;
        left: 15%;
        width: 70%;
        height: 10%;
    }
    .menu {
        display: flex;
        li {
            margin-left: 10px;
            a {
                display: block;
                padding: 5px 10px;
                text-transform: uppercase;
                color: #ffffff;
                font-size: 20px;
                font-weight: 700;
                transition: 0.4s ease;
            }
            a:hover {
                color: #fca311;
            }
        }
    }
    @media screen and (max-width: 850px) {
        .menu-mobile {
            display: block;
            z-index: 1000;
        }
    
        .menu {
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            margin: 0;
            background-color: #1d3361;
            width: 100%;
            max-width: 250px;
            padding: 100px 20px;
            flex-direction: column;
            transition: 0.5s ease;
        }
    }
    
    .menu.active {
        right: -100%;
    }
}


//about section

#about, #portfolio {
    text-align: center;
}

.container {
    padding: 15%;
}

.bg-about {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(0deg, #ffffff 0%, #e5e5e5 10%, #fca311  100%);
    .profile-photo {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid #1d1d1d;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        object-fit: cover;
    }
    #about #education, #career {
        display: inline-block;
        padding: 12px 36px;
        margin: 10px;
        color: black;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 2px;
        border-radius: 40px;
        background: linear-gradient(90deg, #fca311, #e0df88);
        box-shadow: 0 35px 45px rgba(0,0,0,0.1);
        border: 1px solid rgba(255,255,255,0.5);
        border-bottom: 1px solid rgba(255,255,255,0.2);
        cursor: pointer;
    }
    a:hover {
        transform: scale(1.1);
    }
}

//modal

.modal-bg {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: opacity 0.3s ease;
}

#modal-container {
    position: relative;
    background-color: #14213d;
    color: #ffffff;
    width: 1400px;
    max-width: 98%;
    height: 650px;
    max-height: 100%;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 2rem 5rem 0 #14213d;
} 

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    width: 50px;
    height: 50px;
    padding: 8px;
    color: #14213d;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background: linear-gradient(90deg, #fca311, #e0df88);           
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
}

.close:hover {
    transform: scale(1.1);
}

.modal-bg.show {
    display: flex;
}

//animated bars

.skill {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    li {
        margin:  20px 0;
        padding: 10px;
        h4 {
            text-align: left;
        }
        
    }
}

.lightsaber {
    display: flex;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    .handle {
        display: flex;
        width: 150px;
        height: 22px;
        border-radius: 3px;
        border-right: 5px solid black;
        align-items: center;
        .one {
            display: inline;
            background: #BFC0C0;
            width: 20px;
            height: 22px;
            border-right: 7px solid black;
            border-radius: 2px;
        }
        .two {
            display: inline;
            background: black;
            width: 20px;
            height: 18px;
        }
        .three {
            display: inline;
            background: #BFC0C0;
            width: 20px;
            height: 22px;
            border-radius: 2px;
        }
        .four {
            display: inline;
            background: linear-gradient(90deg, black 5%, #2E3643 5%, #2E3643 10%, black 10%, black 15%, #2E3643 15%, #2E3643 20%, black 20%, black 25%, #2E3643 25%, #2E3643 30%, black 30%, black 35%, #2E3643 35%, #2E3643 40%, black 40%, black 45%, #2E3643 45%, #2E3643 50%, black 50%, black 55%, #2E3643 55%, #2E3643 60%, black 60%, black 65%, #2E3643 65%, #2E3643 70%, black 70%, black 75%, #2E3643 75%, #2E3643 80%, black 80%, black 85%, #2E3643 85%, #2E3643 90%, black 90%, black 95%, #2E3643 95%, #2E3643 100%);
            width: 50px;
            height: 20px;
        }
        .five {
            display: inline;
            background: #8f5a05;
            width: 20px;
            height: 19px;
        }
        .six {
            display: inline;
            background: #bfc0c09d;
            width: 20px;
            height: 22px;
            border-radius: 2px;
        }
    }
    .bar:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .bar {
        background: #252b48;
        display: inline;
        height: 20px;
        border: 1px solid rgba(0,0,0,0.3);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        .ls-yellow {
            height: 20px;
            float: left;
            background: linear-gradient(135deg, #fca311 0%, #e0df88 100%);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .ls-blue {
            height: 20px;
            float: left;
            background: linear-gradient(135deg, #119efc 0%, #82c7f5 100%);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    .bar:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

#html {
    width: 90%;
    animation: html 3s;
    box-shadow: 0 0 30px #fca311;
}

#css {
    width: 80%;
    animation: css 3s;
    box-shadow: 0 0 30px #119efc;
}

#sass {
    width: 70%;
    animation: sass 3s;
    box-shadow: 0 0 30px #fca311;
}

#javascript {
    width: 60%;
    animation: javascript 3s;
    box-shadow: 0 0 30px #119efc;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes sass {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}




//portfolio section

.portfolio-card {
    margin-top: 60px;
    background: #e5e5e5;
    border: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-radius: 10px;
    overflow: hidden;
    a {
        text-decoration: none;
        color: black;
    }
    .portfolio-card-image {
        background: url('images/portfolio.png');
        height: 300px;
        border-radius: 10px;
        background-size: cover;
        background-position: cover;
    }
    .portfolio-card-title {
        display: block;
        font-size: 20px;
        letter-spacing: -1px;
        margin-bottom: 5px;
    }
}

.portfolio-card:hover {
    transform: scale(1.2);
}

.portfolio-card a:hover {
    color: #fca311;
}

//contact section

.bg-contact {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: linear-gradient(0deg, #fca311 0%, #ffdfaa  90%, #ffffff 100%);
    .box {
        padding: 10px;
    
        .contact {
            position: relative;
            min-height: 350px;
            background: rgba(255,255,255,0.1);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(5px);
            box-shadow: 0 35px 45px rgba(0,0,0,0.1);
            border: 1px solid rgba(255,255,255,0.5);
            border-right: 1px solid rgba(255,255,255,0.2);
            border-bottom: 1px solid rgba(255,255,255,0.2);
            .form {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 20px;
                h1 {
                    position: relative;
                    color: #14213d;
                    font-size: 28px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    margin-bottom: 20px;
                }
                .input-box {
                    width: 100%;
                    margin-top: 10px;
                }
                .input-box input, .input-box textarea {
                    width: 100%;
                    background: rgba(255,255,255,0.2);
                    border: none;
                    outline: none;
                    padding: 10px;
                    border-radius: 20px;
                    border: 1px solid rgba(255,255,255,0.5);
                    border-right: 1px solid rgba(255,255,255,0.2);
                    border-bottom: 1px solid rgba(255,255,255,0.2);
                    font-size: 14px;
                    letter-spacing: 1px;
                    color: #14213d;
                    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
                }
                .input-box input[type="submit"] {
                    background: #e5e5e5;
                    color: #14213d;
                    max-width: 200px;
                    cursor: pointer;
                    margin-bottom: 10px;
                    font-weight: 700;
                    font-size: 18px;
                }
            }
        }
        
    }
}

.form h1::before {
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #14213d;
}


//footer

footer {
    background-color: #14213d;
    padding: 2% 3%; 
    border-top: 4px groove #fca311;
    bottom: 0;
    width: 100%;
    ul {
        display: flex;
        li {
            list-style: none;
            margin: 10px;
            a {
                padding: 25px;
                width: 40px;
                height: 40px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: #e5e5e5;
                border: 1px solid rgba(255,255,255,0.4);
                border-right: 1px solid rgba(255,255,255,0.2);
                border-bottom: 1px solid rgba(255,255,255,0.2);
                box-shadow: 0 5px 45px rgba(255,255,255,0.1);
                transition: 0,5s;
            }
        }
    }
    .container {
        padding: 0;
    }
    p {
        color: #e5e5e5; 
        text-align: center;
    }   
}

footer ul li a:hover {
    transform: translateY(-20px);
    color: #fca311;
}

::-webkit-scrollbar {
    width: 12px;
    background: #fca311;
}

::-webkit-scrollbar-thumb {
    background: #14213d
}


@media (max-width: 700px) {
    #about {
        margin-top: 20%;
    }
}

@media (max-width: 450px) {
    #about {
        margin-top: 25%;
    }
}

@media (max-width: 400px) {
    #about {
        margin-top: 45%;
    }
}
