* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #14213d;
  padding: 1.5% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 4px groove #fca311;
  z-index: 997;
}

header a {
  text-decoration: none;
}

header #logo a {
  font-family: 'Sarina', cursive;
  color: #fca311;
  font-size: 30px;
}

header #menu-mobile {
  display: none;
}

header .menu-mobile {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  position: relative;
  cursor: pointer;
  display: none;
}

header .menu-mobile::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 15%;
  width: 70%;
  height: 10%;
  border-radius: 20px;
  background-color: #fca311;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

header .menu-mobile::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 45%;
  width: 40%;
  height: 10%;
  border-radius: 20px;
  background-color: #fca311;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

header #menu-mobile:checked ~ label .menu-mobile:after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 45%;
  left: 15%;
}

header #menu-mobile:checked ~ label .menu-mobile::before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  top: 45%;
  left: 15%;
  left: 15%;
  width: 70%;
  height: 10%;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu li {
  margin-left: 10px;
}

header .menu li a {
  display: block;
  padding: 5px 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

header .menu li a:hover {
  color: #fca311;
}

@media screen and (max-width: 850px) {
  header .menu-mobile {
    display: block;
    z-index: 1000;
  }
  header .menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    background-color: #1d3361;
    width: 100%;
    max-width: 250px;
    padding: 100px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
}

header .menu.active {
  right: -100%;
}

#about, #portfolio {
  text-align: center;
}

.container {
  padding: 15%;
}

.bg-about {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), color-stop(10%, #e5e5e5), to(#fca311));
  background: linear-gradient(0deg, #ffffff 0%, #e5e5e5 10%, #fca311 100%);
}

.bg-about #about #personal, .bg-about #professional {
  display: inline-block;
  padding: 12px 36px;
  margin: 10px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#fca311), to(#e0df88));
  background: linear-gradient(90deg, #fca311, #e0df88);
  -webkit-box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.bg-about a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal-bg {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background-color: #fca311;
  z-index: 1001;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal-container {
  position: relative;
  background-color: #14213d;
  color: #ffffff;
  width: 1400px;
  max-width: 98%;
  height: 650px;
  max-height: 100%;
  padding: 30px 50px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  width: 50px;
  height: 50px;
  padding: 8px;
  color: #14213d;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#fca311), to(#e0df88));
  background: linear-gradient(90deg, #fca311, #e0df88);
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
}

.close:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal-bg.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* @keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
} //modal animation

.show .modal {
    animation: modal .3s;
} //animation duration */
.skill {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.skill li {
  margin: 20px 0;
  padding: 10px;
}

.skill li h4 {
  text-align: left;
}

.lightsaber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.lightsaber .handle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 22px;
  border-radius: 3px;
  border-right: 5px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lightsaber .handle .one {
  display: inline;
  background: #BFC0C0;
  width: 20px;
  height: 22px;
  border-right: 7px solid black;
  border-radius: 2px;
}

.lightsaber .handle .two {
  display: inline;
  background: black;
  width: 20px;
  height: 18px;
}

.lightsaber .handle .three {
  display: inline;
  background: #BFC0C0;
  width: 20px;
  height: 22px;
  border-radius: 2px;
}

.lightsaber .handle .four {
  display: inline;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, black), color-stop(5%, #2E3643), color-stop(10%, #2E3643), color-stop(10%, black), color-stop(15%, black), color-stop(15%, #2E3643), color-stop(20%, #2E3643), color-stop(20%, black), color-stop(25%, black), color-stop(25%, #2E3643), color-stop(30%, #2E3643), color-stop(30%, black), color-stop(35%, black), color-stop(35%, #2E3643), color-stop(40%, #2E3643), color-stop(40%, black), color-stop(45%, black), color-stop(45%, #2E3643), color-stop(50%, #2E3643), color-stop(50%, black), color-stop(55%, black), color-stop(55%, #2E3643), color-stop(60%, #2E3643), color-stop(60%, black), color-stop(65%, black), color-stop(65%, #2E3643), color-stop(70%, #2E3643), color-stop(70%, black), color-stop(75%, black), color-stop(75%, #2E3643), color-stop(80%, #2E3643), color-stop(80%, black), color-stop(85%, black), color-stop(85%, #2E3643), color-stop(90%, #2E3643), color-stop(90%, black), color-stop(95%, black), color-stop(95%, #2E3643), to(#2E3643));
  background: linear-gradient(90deg, black 5%, #2E3643 5%, #2E3643 10%, black 10%, black 15%, #2E3643 15%, #2E3643 20%, black 20%, black 25%, #2E3643 25%, #2E3643 30%, black 30%, black 35%, #2E3643 35%, #2E3643 40%, black 40%, black 45%, #2E3643 45%, #2E3643 50%, black 50%, black 55%, #2E3643 55%, #2E3643 60%, black 60%, black 65%, #2E3643 65%, #2E3643 70%, black 70%, black 75%, #2E3643 75%, #2E3643 80%, black 80%, black 85%, #2E3643 85%, #2E3643 90%, black 90%, black 95%, #2E3643 95%, #2E3643 100%);
  width: 50px;
  height: 20px;
}

.lightsaber .handle .five {
  display: inline;
  background: #8f5a05;
  width: 20px;
  height: 19px;
}

.lightsaber .handle .six {
  display: inline;
  background: #bfc0c09d;
  width: 20px;
  height: 22px;
  border-radius: 2px;
}

.lightsaber .bar:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.lightsaber .bar {
  background: #252b48;
  display: inline;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.lightsaber .bar .ls-yellow {
  height: 20px;
  float: left;
  background: linear-gradient(135deg, #fca311 0%, #e0df88 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lightsaber .bar .ls-blue {
  height: 20px;
  float: left;
  background: linear-gradient(135deg, #119efc 0%, #82c7f5 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lightsaber .bar:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#html {
  width: 90%;
  -webkit-animation: html 3s;
          animation: html 3s;
  -webkit-box-shadow: 0 0 30px #fca311;
          box-shadow: 0 0 30px #fca311;
}

#css {
  width: 80%;
  -webkit-animation: css 3s;
          animation: css 3s;
  -webkit-box-shadow: 0 0 30px #119efc;
          box-shadow: 0 0 30px #119efc;
}

#sass {
  width: 70%;
  -webkit-animation: sass 3s;
          animation: sass 3s;
  -webkit-box-shadow: 0 0 30px #fca311;
          box-shadow: 0 0 30px #fca311;
}

#javascript {
  width: 60%;
  -webkit-animation: javascript 3s;
          animation: javascript 3s;
  -webkit-box-shadow: 0 0 30px #119efc;
          box-shadow: 0 0 30px #119efc;
}

@-webkit-keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@-webkit-keyframes sass {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes sass {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

.portfolio-card {
  margin-top: 60px;
  background: #e5e5e5;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.portfolio-card a {
  text-decoration: none;
  color: black;
}

.portfolio-card .portfolio-card-image {
  background: url("images/portfolio.png");
  height: 300px;
  border-radius: 10px;
  background-size: cover;
  background-position: cover;
}

.portfolio-card .portfolio-card-title {
  display: block;
  font-size: 20px;
  letter-spacing: -1px;
  margin-bottom: 5px;
}

.portfolio-card:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio-card a:hover {
  color: #fca311;
}

.bg-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 600px;
  overflow: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(#fca311), color-stop(90%, #ffdfaa), to(#ffffff));
  background: linear-gradient(0deg, #fca311 0%, #ffdfaa 90%, #ffffff 100%);
}

.bg-contact .box {
  padding: 60px;
}

.bg-contact .box .contact {
  position: relative;
  width: 500px;
  min-height: 350px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 35px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.bg-contact .box .contact .form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.bg-contact .box .contact .form h1 {
  position: relative;
  color: #14213d;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.bg-contact .box .contact .form .input-box {
  width: 100%;
  margin-top: 10px;
}

.bg-contact .box .contact .form .input-box input, .bg-contact .box .contact .form .input-box textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 14px;
  letter-spacing: 1px;
  color: #14213d;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.bg-contact .box .contact .form .input-box input[type="submit"] {
  background: #e5e5e5;
  color: #14213d;
  max-width: 200px;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.form h1::before {
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #14213d;
}

footer {
  background-color: #14213d;
  padding: 2% 3%;
  border-top: 4px groove #fca311;
  bottom: 0;
  width: 100%;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li {
  list-style: none;
  margin: 10px;
}

footer ul li a {
  padding: 25px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #e5e5e5;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 5px 45px rgba(255, 255, 255, 0.1);
          box-shadow: 0 5px 45px rgba(255, 255, 255, 0.1);
  -webkit-transition: 0,5s;
  transition: 0,5s;
}

footer .container {
  padding: 0;
}

footer p {
  color: #e5e5e5;
  text-align: center;
}

footer ul li a:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  color: #fca311;
}

::-webkit-scrollbar {
  width: 12px;
  background: #fca311;
}

::-webkit-scrollbar-thumb {
  background: #14213d;
}

@media (max-width: 700px) {
  #about {
    margin-top: 20%;
  }
}

@media (max-width: 450px) {
  #about {
    margin-top: 25%;
  }
}

@media (max-width: 400px) {
  #about {
    margin-top: 45%;
  }
}
/*# sourceMappingURL=page.css.map */